* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Happy Monkey";
}

.vl {
    border-left: 4px solid lightgray;
    height: 100%;
    border-radius: 10px;
    margin: 0 2rem;
}

.home-body {
    display: flex;
    height: 85vh;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}
