.home-header-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    border-bottom: 2px solid lightgray;
    padding: 10px 2rem;
}

.header-logo {
    height: 100%;
    object-fit: contain;
}

.start-chat {
    background-color: lightgray;
    border: 2px solid black;
    padding: 10px;
    width: 8rem;
    border-radius: 7px;
    font-size: larger;
    cursor: pointer;
}
